body {
  background-color: blue;
  margin: 0;
  font-family: "Raleway, sans-serif";
}

#container {
  background-color: rgb(52, 34, 36);
  color: rgb(52, 34, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#quote-box {
  background-color: white;
  width: 500px;
  height: auto;
  border-radius: 5px;
  padding: 40px;
}

#text {
  font-size: 28px;
  display: block;
  text-align: center;
}

#text i {
  font-size: 28px;
}

#author {
  text-align: right;
  font-size: 16px;
}

.botao {
  height: 38px;
  background-color: rgb(52, 34, 36);
  border-radius: 3px;
  color: white;
  width: auto;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.botao i {
  font-size: 19px;
  width: 38px;
}

.botao:hover {
  transform: scale(1.2);
}

#container-b {
  display: flex;
  justify-content: space-between;
  height: auto;
}
